
# ignore shortcut files
*.lnk

# ignore RootsMagic database file
*.rmgc
*.rmtree

DB/
Release*/
build/
dist/
*.spec


HIDE_*

ExternalFilesReport.txt
test-RootsMagicUser.xml

DEV_RM-Python-config.ini
DISTO_RM-Python-config.ini


