
# ignore shortcut files
*.lnk

# ignore test data
DB/
Test Data/

# ignore build output
Release*/

# ignore app output
Report_TestExternalFiles.txt
MediaFiles_HASH_*

* ignore ini file versions
DEV_RM-Python-config.ini
DISTO_RM-Python-config.ini


HIDE*

